#blueball{
position:absolute;
left:450px;
top:225px;
height:100px;
width:100px;
}

#orangeball{
position:absolute;
left:600px;
top:225px;
height:100px;
width:100px;
}

#blackball{
position:absolute;
left:750px;
top:225px;
height:100px;
width:100px;
}

#silverball{
position:absolute;
left:900px;
top:225px;
height:100px;
width:100px;
}

#table3{
position:absolute;
bottom:0px;
}

#table4{
position:absolute;
bottom:0px;
right:0px;
}

#wall{
background-color:blue;
position:absolute;
width:100px;
height:250px;
left:300px;
top:100px;
}